<!-- <app-pagetiltle></app-pagetiltle> -->
<div style="margin:auto;padding-top: 100px;max-width: 400px;">
  <div>
    <form>
      <label for="email">Email : </label>
      <input type="text" placeholder="Email">
      <label for="email">Password : </label>
      <input type="text" placeholder="********">
      <span >Forgot Password ?</span>
      <div class="text-center login-btn">
        <input type="submit" class="btn btn-my" value="Login">
      </div>
    </form>
    <div class="text-center sign-up">
      Don`t have an account ? <a [routerLink]="['signup']">Sign Up</a>  here.
    </div>
  </div>
</div>