<app-pagetiltle title="HOME" [breadcrumbItems]="breadCrumbItems"></app-pagetiltle> 
<div style="max-width: 900px;height:100vh;margin: auto; box-shadow: 10px 2px 200px 10px #eee;padding:20px;">
    <div class="create-post">
      <div class="create-details">
        <div class="detials1" style="width:40px;height:40px;background-color: #ddd;border-radius: 50%;">
          <img src="https://images.vexels.com/media/users/3/140384/isolated/preview/fa2513b856a0c96691ae3c5c39629f31-girl-profile-avatar-1.png ">
      </div>
      <h3>Lorem Ipsum</h3>
      </div>
      <button>Create post</button>
    </div>
    <br>
    <br>

    <div>
      <div class="announcement1 bg-light ">
        <div class="details">
            <div class="detials1" style="width:60px;height:60px;background-color: #ddd;border-radius: 10%;">
                <img src="https://images.vexels.com/media/users/3/140384/isolated/preview/fa2513b856a0c96691ae3c5c39629f31-girl-profile-avatar-1.png ">
            </div>
            <div class="details2">
                <h4>Lorem Ipsum</h4>
                <p style="color: #aaa;">Department | timeStamp </p>
            </div>
        </div>
        <!-- <hr> -->
        <div class="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <div class="reactions">
            <ul class="reaction">
                <li>
                    <span>3</span> Likes</li>
                    <li><span>3</span> Unlikes</li>
                <li><span>2</span> Comments </li>
                <!-- <li>
                    <a href="#" class="fa fa-instagram"></a>1</li> -->
            </ul>

        </div>
    </div>
    </div>
</div>
