* {
    color: #6e6b6b;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

.dropdown-item {
    font-size: small;
    color: #6e6b6b;
}

h4 {
    padding: 10px;
}
.login button{
    padding:6px;
    background-color: #fff;
    border-radius: 17px;
    border: 1px solid rgb(35, 164, 173);
    width:110px;
    color: rgb(35, 164, 173);
    font-weight: 400;
}
.login button:hover{

    background-color: rgb(35, 164, 173);
    color:white;

}