<app-pagetiltle title="TUTORING" [breadcrumbItems]="breadCrumbItems"></app-pagetiltle>
<div class="global">
    <div class="search-tutor">
        <div class="tutor1"></div>
        <div class=" column tutor2">
            <h1>Find Your Perfect Tutor</h1>
            <input type="text" placeholder="Search for a tutor">
            <input type="text" placeholder="Location">
            <button (click)="openTutors()">Search</button>
        </div>
    </div>
    
    <div style="height: 70vh;width: 100%;background-color: aliceblue;">

    </div>
    <div style="background-color:rgb(35, 164, 173);">
        <div style="max-width: 1250px;margin: auto;display: flex;">
            <div class="become-tutor">
                <fa-icon [icon]="faBookOpenReader"></fa-icon>
                <h1>Become a tutor</h1>
                <button>CLICK HERE</button>

            </div>
            <div class="get-tutor">
                <fa-icon [icon]="faChalkboardUser"></fa-icon>
                <h1>Get a tutor</h1>
                <button (click)="openTutors()">CLICK HERE</button>
            </div>

        </div>
    </div>
    <div class="empty" style="height: 70vh;width: 100%;background-color: aliceblue;">

    </div>
    <div class="tutor-subject">
        <div style="padding-top: 40px;">
            <h1>Find Tutors By Subject</h1>
            <hr style="max-width: 400px;padding-left: 20px;">

        </div>
        <div style="max-width: 800px;margin: auto;text-align: center;padding:2%">

            <div style="display: flex; padding:3% ;margin:2%;background-color: aliceblue;border-radius: 20px; ">
                <div class="buttons">
                    <h2>Grade 10</h2>
                    <button>Accounting</button>
                    <button>mathematics</button>
                    <button>Physical Science</button>
                </div>
                <div class="buttons">
                    <h2>Grade 11</h2>
                    <button>Accounting</button>
                    <button>mathematics</button>
                    <button>Physical Science</button>
                </div>
                <div class="buttons">
                    <h2>Grade 12</h2>
                    <button>Accounting</button>
                    <button>mathematics</button>
                    <button>Physical Science</button>
                </div>
            </div>
        </div>
    </div>
    
</div>