<div style="max-width: 1250px;margin: auto;border-top: 1px solid #ddd;">
  <div style="height: 600px;display: flex;margin-top:10%;margin-left:5%;margin-right: 5%;">
    <div class="left">

    </div>
    <div class="right">
      <div style="text-align: center;max-width: 400px;margin: auto;">
        <!-- This is temporary -->
        <div style="margin-left: 5%;margin-right: 5%;margin-top: 3%;">
          <!-- <button (click)="openSignup()"><a [routerLink]="['./signup']">Sign Up</a> </button>
          <button (click)="openLogin()"><a [routerLink]="['./signin']">Sign In</a> </button> -->
          <a [routerLink]="['./signup']">Sign Up</a> 
          <a [routerLink]="['./signin']">Sign In</a> 
        </div>
       
      </div>
      <router-outlet></router-outlet>
      <!-- <app-login></app-login> -->
    </div>
  </div>
</div>