<div class="bg-light" style="height:60px ;margin:auto;border:1px solid #eee">
    <div style="max-width: 1250px;font-size: small;margin:auto;padding:18px">
        <div class="page-title-box d-flex  justify-content-between ">
            <div style="display: flex;">
                <!-- <h5>{{title}}</h5> -->
                <div class="nav-item dropdown">
                    <button data-bs-toggle="dropdown" type="button" class="btn btn-primary">
                        Inbox <span class="badge ">9</span>
                      </button>
                      <ul class="dropdown-menu  dropdown-menu-end">
                        <li class="dropdown-item">
                            <div style="display: flex;padding-top: 5px;margin-bottom: -10px;">
                                <div class="detials1" style="width:40px;height:40px;background-color: #ddd;border-radius: 50%;">
                                    <img src="https://images.vexels.com/media/users/3/140384/isolated/preview/fa2513b856a0c96691ae3c5c39629f31-girl-profile-avatar-1.png " style="width:100%;height: 100%;">
                                </div>
                                <div style="padding-left: 5px;">
                                    <p style="padding:0px"><b>Lorem Ipsum</b> </p>
                                    <p style="margin-top: -25px;"> Hey, there! How was your day?</p>
                                </div>
                                
                            </div>
                        </li>
                        <li><a class="dropdown-item" routerLink="forum">
                            <div style="display: flex;padding-top: 5px;margin-bottom: -10px;">
                                <div class="detials1" style="width:40px;height:40px;background-color: #ddd;border-radius: 50%;">
                                    <img src="https://images.vexels.com/media/users/3/140384/isolated/preview/fa2513b856a0c96691ae3c5c39629f31-girl-profile-avatar-1.png " style="width:100%;height: 100%;">
                                </div>
                                <div style="padding-left: 5px;">
                                    <p style="padding:0px"><b>Lorem Ipsum</b> </p>
                                    <p style="margin-top: -25px;"> Hey, there! How was your day?</p>
                                </div>
                                
                            </div>
                        </a></li>
                        <li><a class="dropdown-item" routerLink="forum">
                            <div style="display: flex;padding-top: 5px;margin-bottom: -10px;">
                                <div class="detials1" style="width:40px;height:40px;background-color: #ddd;border-radius: 50%;">
                                    <img src="https://images.vexels.com/media/users/3/140384/isolated/preview/fa2513b856a0c96691ae3c5c39629f31-girl-profile-avatar-1.png " style="width:100%;height: 100%;">
                                </div>
                                <div style="padding-left: 5px;">
                                    <p style="padding:0px"><b>Lorem Ipsum</b> </p>
                                    <p style="margin-top: -25px;">Hey, there! How was your day?</p>
                                </div>
                                
                            </div>
                        </a></li>
                        <li><a class="dropdown-item" routerLink="forum">
                            <div style="display: flex;padding-top: 5px;margin-bottom: -10px;">
                                <div class="detials1" style="width:40px;height:40px;background-color: #ddd;border-radius: 50%;">
                                    <img src="https://images.vexels.com/media/users/3/140384/isolated/preview/fa2513b856a0c96691ae3c5c39629f31-girl-profile-avatar-1.png " style="width:100%;height: 100%;">
                                </div>
                                <div style="padding-left: 5px;">
                                    <p style="padding:0px"><b>Lorem Ipsum</b> </p>
                                    <p style="margin-top: -25px;"> Hey, there! How was your day?</p>
                                </div>
                                
                            </div>
                        </a></li>
                    </ul>
                </div>
                
                <div class="nav-item dropdown">
                    <button data-bs-toggle="dropdown" type="button" class="btn btn-primary">
                        Notifications <span class="badge badge-light">4</span>
                      </button>
                      <ul class="dropdown-menu  dropdown-menu-start">
                        <li class="dropdown-item">
                            <div style="display: flex;">
                                <div class="detials1" style="width:35px;height:35px;background-color: #ddd;border-radius: 50%;">
                                    <img src="https://images.vexels.com/media/users/3/140384/isolated/preview/fa2513b856a0c96691ae3c5c39629f31-girl-profile-avatar-1.png " style="width:100%;height: 100%;">
                                </div>
                                <p style="padding:7px"><b>Lorem Ipsum</b> liked your recent post</p>
                            </div>
                        </li>
                        <li><a class="dropdown-item" routerLink="forum">
                            <div style="display: flex;">
                                <div class="detials1" style="width:35px;height:35px;background-color: #ddd;border-radius: 50%;">
                                    <img src="https://images.vexels.com/media/users/3/140384/isolated/preview/fa2513b856a0c96691ae3c5c39629f31-girl-profile-avatar-1.png " style="width:100%;height: 100%;">
                                </div>
                                <p style="padding:7px"><b>Lorem Ipsum</b> liked your recent post</p>
                            </div>

                        </a></li>
                        <li><a class="dropdown-item" routerLink="forum">
                            <div style="display: flex;">
                                <div class="detials1" style="width:35px;height:35px;background-color: #ddd;border-radius: 50%;">
                                    <img src="https://images.vexels.com/media/users/3/140384/isolated/preview/fa2513b856a0c96691ae3c5c39629f31-girl-profile-avatar-1.png " style="width:100%;height: 100%;">
                                </div>
                                <p style="padding:7px"><b>Lorem Ipsum</b> liked your recent post</p>
                            </div>
                        </a></li>
                        <li><a class="dropdown-item" routerLink="forum">
                            <div style="display: flex;">
                                <div class="detials1" style="width:35px;height:35px;background-color: #ddd;border-radius: 50%;">
                                    <img src="https://images.vexels.com/media/users/3/140384/isolated/preview/fa2513b856a0c96691ae3c5c39629f31-girl-profile-avatar-1.png " style="width:100%;height: 100%;">
                                </div>
                                <p style="padding:7px"><b>Lorem Ipsum</b> liked your recent post</p>
                            </div>
                        </a></li>
                    </ul>
                </div>
                  
                <!-- <a><p class="icons"><fa-icon [icon]="faEnvelope"></fa-icon></p></a>
                <a><p class="icons"><fa-icon [icon]="faBell"></fa-icon></p></a> -->
            </div>
            <div class="page-title-right" >
              
                <ol class="breadcrumb">
                    <ng-container *ngFor="let item of breadcrumbItems">
                        <li class="breadcrumb-item" *ngIf="!item.active"><a>{{ item.label }} <sup *ngIf="preferenceText" class="text-{{state}}">{{preferenceText}}</sup></a>
                        </li>
                        <li class="breadcrumb-item " *ngIf="item.active">{{ item.label }}
                        </li>
                    </ng-container>
                </ol>
            </div>
        </div>
    </div>
</div>