option{
        color: #797676;
}
select{
        width:100%;
        max-width: 500px;
        color: #797676;
        margin-right:5%; 
        margin-bottom: 6%;
        padding-top:5px;
        padding-bottom:5px;
        padding-left: 13px;
        padding-left: 13px;
        border: none;
        border-radius: 6px;
}

input{
        width:100%;
        color: #aaa;
        max-width: 500px;
        margin-right:5%; 
        margin-bottom: 1%;
        padding-top:4px;
        padding-bottom:4px;
        padding-left: 15px;
        border: none;
        border-radius: 6px;
}
form{
        margin:5%
}
label{
        color: #fff;
        font-weight: 400;
        text-align: left;
        padding-top: 10px;
}
span{
        text-align: right;
        color: blue;
        font-size: small;

}
.login-btn input{
        background-color: rgb(20, 95, 100) ;
        color: #fff;
}
.sign-up {
        color: #fff;
}