<div style="margin:auto;max-width: 400px;">
  <div>
    <form>
      <label for="email">FirstName : </label>
      <input type="text" placeholder="FirstName">
      <label for="email">LastName : </label>
      <input type="text" placeholder="LastName">
      <label for="email">Email : </label>
      <input type="text" placeholder="Email">
      <label for="email">LastName : </label>
      <input type="text" placeholder="LastName">
      <label for="email">Password : </label>
      <input type="text" placeholder="********">
      <label for="email">Repeat Password : </label>
      <input type="text" placeholder="********">
      
      <div class="text-center login-btn">
        <input type="submit" class="btn btn-my" value="Login">
      </div>
    </form>
    
  </div>
</div>