<br>

<div style="margin:auto;max-width: 400px;">
  <div>
    <form>
      <label for="email">FirstName : </label>
      <input type="text" placeholder="FirstName">
      <label for="email">LastName : </label>
      <input type="text" placeholder="LastName">
      <label for="email">Email : </label>
      <input type="text" placeholder="Email">
      <label for="member">Register as : </label>
      <select name="" id="">
        <option value="None">Default Selection</option>
        <option value="Teacher">Teacher</option>
        <option value="Tutor">Tutor</option>
        <option value="Student">Student</option>
        <option value="Institution">Institution</option>
      </select>
      <label for="email" style="margin-top: -10px;">Password : </label>
      <input type="text" placeholder="********">
      <label for="email">Repeat Password : </label>
      <input type="text" placeholder="********">
      <div class="text-center login-btn">
        <br>
        <input type="submit" class="btn btn-my" style="height: 35px;" value="Sign Up ">
      </div>
    </form>
    <div class="text-center sign-up">
      Already have an account ? <a [routerLink]="['/auth/signin']">Sign In</a>  here.
    </div>
    
  </div>
</div>