<app-pagetiltle title="ANNOUNCEMENTS" [breadcrumbItems]="breadCrumbItems"></app-pagetiltle>
<div class="annoucement">
    <div class="announcement1 bg-light ">
        <div class="details">
            <div class="detials1" style="width:100%;height:100%;background-color: #ddd;border-radius: 10%;">
                <img src="https://images.vexels.com/media/users/3/140384/isolated/preview/fa2513b856a0c96691ae3c5c39629f31-girl-profile-avatar-1.png ">
            </div>
        </div>
        <!-- <hr> -->
        <div class="details01">
            <div class="details2">
                <h4>Lorem Ipsum</h4>
                <p>Department | timeStamp </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
        <div class="reactions">
            <!-- <ul class="reaction">
                <li>
                    <span>3</span> LIKES</li>
                <li><span>2</span> COMMENTS </li>
                 <li>
                    <a href="#" class="fa fa-instagram"></a>1</li>
            </ul>
        </div> -->
    </div>
</div>