<app-pagetiltle title="ANNOUNCEMENTS" [breadcrumbItems]="breadCrumbItems"></app-pagetiltle>
<div class="annoucement">
    <div class="announcement1 bg-light "  *ngFor="let item of  announcements">
        <div class="details">
            <div class="detials1" style="width:100%;height:100%;background-color: #ddd;border-radius: 10%;">
                <img src={{item.image}}>
            </div>
        </div>
        <!-- <hr> -->
        <div class="details01">
            <div class="details2">
                <h4>{{item.tiltle }}</h4>
                <p>{{item.department}} | {{item.datecreated }} </p>
                <p >{{item.description }}</p>
            </div>
        </div>
        <div class="reactions">
            <!-- <ul class="reaction">
                <li>
                    <span>3</span> LIKES</li>
                <li><span>2</span> COMMENTS </li>
                 <li>
                    <a href="#" class="fa fa-instagram"></a>1</li>
            </ul>
        </div> -->
    </div>
</div>