.annoucement {
    max-width: 1290px;
    margin: auto;
}

.announcement1 {
    /* margin: auto; */
    margin-top: 15px;
    padding: 10px;
    max-width: 800px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    height: 213px;
    justify-content: flex-start;
    margin: 3%;
}

.details {

    width:30%;
    height: 190px;
}
.details01 {
    width:70%
}

.details2 {
    padding-left: 10px;
}
.details2 p{
    font-size: small;
    -webkit-line-clamp: 4;
        display: -webkit-box;
        line-height: 1.65;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top:-10px
}
.details2 h4{
    color:rgb(35, 164, 173)
}

.detials1 img {
    width: 100%;
    height: 100%;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(85, 81, 81, 0.3);
}

.reaction {
    display: flex;
    justify-content: flex-end;
}

.reaction li {
    padding-right: 30px;
    list-style-type: none;
}

.reaction span {
    padding-right: 5px;
}
.limitTextHeight {
    height: 105px;
    overflow: hidden}


@media screen and (max-width: 600px) {

    .details2 h4{
        font-size:small;
        font-weight: 700;
    }
    .details{
        display:none;
    }
    .details01 {
        width:100%
    }
    .announcement1 {

        height: 180px;
        margin: 3%;

    }
    
    
}